<div class="footer-clean">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-9 item">
          <h3>About</h3>
          <ul>
            <li><a href="https://www.ugr.es/">UGR</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Legacy</a></li>
          </ul>
        </div>
        <div class="col-lg-3 item social">
          <i class="p-1"
            ><img
              src="https://img.icons8.com/ios-glyphs/30/000000/facebook.png"
          /></i>
          <i class="p-1">
            <img
              src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png"
          /></i>
          <i class="p-1">
            <img
              src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png"
            />
          </i>
          <p class="copyright p-1">TFG © 2021</p>
        </div>
      </div>
    </div>
  </footer>
</div>
